<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.songsong.funcode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity android:name=".TapCounterActivity" />
        <activity android:name=".SeekBarPercentageActivity" />
        <activity android:name=".ImagePickerActivity" />
        <activity android:name=".WebSearchActivity" />
        <activity android:name=".ImageListActivity" />
        <activity android:name=".Home2Activity" />
        <activity android:name=".Home3Activity" />
        <activity android:name=".BottomNavigationActivity" />
        <activity android:name=".ImageSliderActivity" />
        <activity android:name=".ProgressControlActivity" />
        <activity android:name=".ActivityScheduleActivity" />
        <activity android:name=".ProjectListActivity" />
        <activity android:name=".GtihubStarsActivity" />
        <activity android:name=".NameActivity" />
        <activity android:name=".LocalStorageActivity" />
        <activity android:name="animations.Animation1Activity" />
        <activity android:name="animations.Animation2Activity" />
        <activity android:name="animations.Animation3Activity" />
        <activity android:name="animations.Animation4Activity" />
        <activity android:name=".BallAnimationActivity" />
        <activity android:name=".NotificationActivity" />

        <service android:name=".MessageService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".PullToRequestActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SideMenuActivity" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".RecordActivity" />
        <activity android:name=".LittleBirdSoundActivity" />
        <activity android:name=".NativeDetailActivity" />
        <activity android:name=".ActivityTransitionActivity" />
        <activity android:name=".LayoutSwitchActivity" />
        <activity android:name=".LocalDatabaseActivity" />
        <activity android:name=".GoogleVoiceActivity" />
        <activity android:name=".PainterActivity" />
        <activity android:name=".FaceRecognizerActivity" />
        <activity android:name=".ActionReceiveActivity" />
        <activity android:name=".ReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".ActionSendActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity android:name=".ShakeShakeActivity" />
        <activity android:name=".ParksActivity" />
        <activity android:name=".ShowViewActivity" />
        <activity android:name=".VideoPlayerActivity" />
    </application>

</manifest>